/* 四角のサイズと枠線 */
.square {
    height: 200px;
    width: 200px;
    border:solid black 0.5px;
}

/* 四角を配置するためのグリッド */
.grid {
    width: 603px;
    height: 603px;
    display: flex;
    flex-wrap: wrap;
}

/* モグラの絵 */
.mole {
    background-image: url('mario.jpg');
    background-size: cover;
}