/* 四角のサイズと枠線 */
.square {
    height: 120px;
    width: 120px;
    border:solid black 0.5px;
    display:grid;
    flex-wrap: wrap;
}

/* 四角を配置するためのグリッド */
.grid {
    width: 363px;
    height: 363px;
    display: flex;
    flex-wrap: wrap;
}

/* モグラの絵 */
.mole {
    background-image: url('mario.jpg');
    background-size: cover;
}